<%= render 'shared/vertical_navigation' %>

<div>
  <main>
  <h3 class="text-center">Mon Dashboard</h3>
    <div class="container">
      <div class="row" class="test">
        <div class="col-xs-6">
          <%= image_tag "Avatar1.png", height:'200', width:'150' %>
        </div>
        <div class="col-xs-6 badges">
          <%= image_tag "Badge_applause.png", height:'60', width:'60' %>Applause
          <!-- <span>Yes I scan</span> -->
        </div>
        <div class="col-xs-6 badges">
          <%= image_tag "Badge_diploma.png", height:'60', width:'60' %>Diplomé
        </div>
        <div class="col-xs-6 badges">
          <%= image_tag "Badge_paparazzi.png", height:'60', width:'60' %>Paparazzi
        </div>
      </div>
      <div class="row">
      <div class="col-xs-6">
          <img src="http://via.placeholder.com/130x200">
      </div>
      <div class="col-xs-6">
        <img src="http://via.placeholder.com/130x200">
      </div>
    </div>


    <div class="flexline">
        <%= link_to scan_product_path, class:'btn btn-success btn-scan' do %>
          <i class="fas fa-barcode"> <!-- Scan --></i>
        <% end %>
    </div>
  </main>
</div>
