<main>
  <div class="container">
  <div class="avatar-information">
  <div class="row">
    <div class="col-xs-6">
      <% if current_user.level == 1 %>
        <%= image_tag "Avatar1.png", height:'185', width:'auto' %>
      <% elsif current_user.level == 2 %>
        <%= image_tag "Avatar2.png", height:'170', width:'150' %>
      <% else %>
        <%= image_tag "trashflies.png", height:'185', width:'auto' %>
      <% end %>
    </div>
    <div class="col-xs-6">
      <div class="information">
        <ul>
          <li> <strong>
            <% if current_user.provider == "facebook" %>
                    <p class="pseudo"> <%= current_user.first_name %><%= current_user.id %> </p>
            <% else %>
                    <p class="pseudo"><%= current_user.pseudo %></p>
                  <% end %></strong></li>
          <li> <p><strong>level</strong> : <%= current_user.level %></p>  </li>
          <li> <p><strong>Point total</strong> : <%= current_user.score %></p></li>
        </ul>
      </div>
    </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="badges">
        <%= image_tag "Badge_applause.png", height:'60', width:'60' %>
        <p>
          Yes I Scan !
          <% if !UserBadge.find_by(user: current_user, badge_id: 1).nil? %>
            <%= UserBadge.find_by(user: current_user, badge_id: 1).point %> / <%= Badge.find(1).level %>
          <% else %>
            <%= 0 %> / <%= Badge.find(1).level %>
         <% end %>
        </p>
      </div>
      <div class="badges">
        <%= image_tag "Badge_diploma.png", height:'60', width:'60' %>
        <p>
          Diplomé
          <% if !UserBadge.find_by(user: current_user, badge_id: 2).nil? %>
            <%= UserBadge.find_by(user: current_user, badge_id: 2).point %> / <%= Badge.find(2).level %>
          <% else %>
            <%= 0 %> / <%= Badge.find(2).level %>
         <% end %>
        </p>
      </div>
      <div class="badges">
        <%= image_tag "Badge_paparazzi.png", height:'60', width:'60' %>
        <p>
          Paparazzi
          <% if !UserBadge.find_by(user: current_user, badge_id: 3).nil? %>
            <%= UserBadge.find_by(user: current_user, badge_id: 3).point %> / <%= Badge.find(3).level %>
          <% else %>
            <%= 0 %> / <%= Badge.find(3).level %>
         <% end %>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="paddingblock">
        <div class="ranking">
          <h3 class="text-center">Classement local <i class="fas fa-trophy"></i></h3>
          <hr>
          <div class="list-organised">
          <ul class="list-unstyled">
            <% @list_to_show.each_with_index do |user, index|  %>
              <li>
                <% if user == current_user %>
                  <div class="underline">
                    <p class="rank-nb">#<%= index + 1 %></p>
                    <% if user.provider == "facebook" %>
                      <%= image_tag (user.facebook_picture_url), class:'small-avatar',height: 35, width: 35 %>
                      <div class="user-details">
                        <p><%= user.first_name %><%= user.id %></p>
                        <p class="user-score"><%= user.score %> points</p>
                      </div>
                    <% elsif user.photo.present? %>
                      <%= cl_image_tag user.photo, class:'small-avatar', height: 35, width: 35 %>
                      <div class="user-details">
                        <p><%= user.pseudo %></p>
                        <p class="user-score"><%= user.score %> points</p>
                    </div>
                    <% else %>
                      <%= image_tag "green_trash.png", class:'small-avatar', height: 35, width: 35 %>
                      <div  class="user-details">
                        <p><%= user.pseudo %></p>
                        <p class="user-score"><%= user.score %> points</p>
                      </div>
                    <% end %>
                  </div>

                <% else %>
                  <p class="rank-nb">#<%= index + 1 %></p>
                  <% if user.provider == "facebook" %>
                    <%= image_tag (user.facebook_picture_url), class:'small-avatar',height: 35, width: 35 %>
                    <div class="user-details">
                      <p><%= user.first_name %><%= user.id %></p>
                      <p class="user-score"><%= user.score %> points</p>
                    </div>
                  <% elsif user.photo.present? %>
                    <%= cl_image_tag user.photo, class:'small-avatar', height: 35, width: 35 %>
                    <div class="user-details">
                      <p><%= user.pseudo %></p>
                      <p class="user-score"><%= user.score %> points</p>
                  </div>
                  <% else %>
                    <%= image_tag "green_trash.png", class:'small-avatar', height: 35, width: 35 %>
                    <div  class="user-details">
                      <p><%= user.pseudo %></p>
                      <p class="user-score"><%= user.score %> points</p>
                    </div>
                  <% end %>
                <% end %>
              </li>
            <% end %>
         </ul>
         </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="podium">


          <ul class="list-inline podium-list">
            <% @up.each do |user| %>
              <li>
                <div class="podium-position">
                  <% if user.provider == "facebook" %>
                    <%= image_tag (user.facebook_picture_url), class:'small-avatar',height: 35, width: 35  %>
                  <p><%= user.first_name %><%= user.id %></p>
                  <% elsif user.photo.present? %>
                    <%= cl_image_tag user.photo, class:'small-avatar',height: 35, width: 35 %>
                    <p><%= user.pseudo %></p>
                  <% else %>
                    <%= image_tag "green_trash.png", class:'small-avatar',height: 35, width: 35  %>
                    <p><%= user.pseudo %></p>
                  <% end %>
                </div>
              </li>
            <% end %>
          </ul>

          <%= image_tag "podium.png", height:'auto', width:'90%' %>


      </div>
    </div>
  </div>
  <div class="spacer"></div>


</div>
    <%= render "/shared/button" %>
</main>
<div class="background-card">
</div>


