<%= render 'shared/vertical_navigation' %>

<div>
  <main>



  <h3 class="text-center">Mon Dashboard</h3>
    <div class="container">
      <div class="row">
        <div class="col-xs-5">
          <%= image_tag "Avatar1.png", height:'185', width:'auto' %>
        </div>
        <div class="col-xs-7">
          <div class="badges">
            <%= image_tag "Badge_applause.png", height:'60', width:'60' %>
            <div>
              Yes i scan
              <% if !UserBadge.find_by(user: current_user, badge_id: 1).nil? %>
                <%= UserBadge.find_by(user: current_user, badge_id: 1).point %> / <%= Badge.find(1).level %>
              <% else %>
                <%= 0 %> / <%= Badge.find(1).level %>
             <% end %>
            </div>
          </div>
          <div class="badges">
            <%= image_tag "Badge_diploma.png", height:'60', width:'60' %>
            <div>
              Diplomé
              <% if !UserBadge.find_by(user: current_user, badge_id: 2).nil? %>
                <%= UserBadge.find_by(user: current_user, badge_id: 2).point %> / <%= Badge.find(2).level %>
              <% else %>
                <%= 0 %> / <%= Badge.find(2).level %>
             <% end %>
            </div>
          </div>
          <div class="badges">
            <%= image_tag "Badge_paparazzi.png", height:'60', width:'60' %>
          <div>
              Paparazzi
              <% if !UserBadge.find_by(user: current_user, badge_id: 3).nil? %>
                <%= UserBadge.find_by(user: current_user, badge_id: 3).point %> / <%= Badge.find(3).level %>
              <% else %>
                <%= 0 %> / <%= Badge.find(3).level %>
             <% end %>
           </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <div class="paddingblock">
            <div class="ranking">
            <!-- <ol>
               <#% @list_to_show.each do |user|  %>
              <li> <#%= user.email %> <#%= user.score %></li>
            <#% end %>
           </ol> -->
            </div>
          </div>
        </div>
        <div class="col-xs-8">
          <div class="podium">

            <div class="toptrois text-center">
              
              <ul class="list-inline">
                <% @users_podium.each do |user| %>
                  <li>
                    <div class="podium-position text-center">
                      <% if user.provider == "facebook" %>
                        <%= image_tag (user.facebook_picture_url) %>
                        <%= user.first_name %><%= user.id %>
                      <% elsif user.photo.present? %>
                        <%= cl_image_tag user.photo, class:'small-avatar', height: 35 %>
                        <p><%= user.pseudo %></p>
                      <% else %>
                        <%= image_tag "green_trash.png", height:'35vh' %>
                        <p><%= user.pseudo %></p>
                      <% end %>
                    </div>
                  </li>
                <% end %>
              </ul>

              <%= image_tag "podium.png", height:'80', width:'auto' %>

            </div>

          </div>
        </div>
      </div>
    </div>


    <div class="flexline">
        <%= link_to scan_product_path, class:'btn btn-success btn-scan' do %>
        <%= image_tag "barcode.png", height:'30', width:'auto' %>
        <% end %>
    </div>
  </main>
</div>


