<h2><%= @product.name %> <%= @product.brand %></h2>
<p><%= @product.description %></p>


<%= image_tag(@product.photo) %>

<% @product.packagings.each do |packaging| %>
  <% if packaging.bin.color == "vert" %>
    <h3><%= packaging.name %></h3>
    <p> <strong>A jeter</strong> => dans poubelle à couvercle <%= packaging.bin.color %></p>
  <% else %>
    <h3><%= packaging.name %></h3>
    <p> <strong>A recycler </strong> => dans poubelle à couvercle <%= packaging.bin.color %></p>
  <% end %>
<% end %>


<!-- <div class="text-center">
  <ul class="list-inline">
    <li>
      <div class="trash yellow">
        <i class="fas fa-trash-alt"></i>
        <p>à recycler: benne de tri</p>
      </div>
    </li>

    <li>
      <div class="trash green">
        <i class="fas fa-trash-alt"></i>
        <p>à recycler: benne à verre</p>
      </div>
    </li>

    <li>
      <div class="trash white">
        <%= image_tag "trashflies.png", height:'50vh' %>
        <p>à jeter: benne à ordures</p>
      </div>
    </li>
  </ul>
</div> -->


