<h2><%= @product.name %> <%= @product.brand %></h2>
<p><%= @product.description %></p>


<%= image_tag(@product.photo) %>

<% @product.packagings.each do |packaging| %>
  <% if packaging.bin.color == "vert" %>
    <h3><%= packaging.name %></h3>
    <p> <strong>A jeter</strong> => dans poubelle à couvercle <%= packaging.bin.color %></p>
  <% else %>
    <h3><%= packaging.name %></h3>
    <p> <strong>A recycler </strong> => dans poubelle à couvercle <%= packaging.bin.color %></p>
  <% end %>
<% end %>


