<h2><%= @product.name %> <%= @product.brand %></h2>
<p><%= @product.description %></p>


<%= image_tag(@product.photo) %>

<% @product.packagings.each do |packaging| %>
  <% if packaging.bin.color == "vert" %>
    <p><%= packaging.name %></p>
    <p>A jeter => dans poubelle à couvercle <%= packaging.bin.color %></p>
  <% else %>
    <p><%= packaging.name %></p>
    <p>A recycler => dans poubelle à couvercle <%= packaging.bin.color %></p>
  <% end %>
<% end %>
