<h2><%= @product.name %> <%= @product.brand %></h2>
<p><%= @product.description %></p>


<%= image_tag(@product.photo) %>

<% @product.packagings.each do |packaging| %>
  <% if packaging.bin.color == "vert" %>
    <h3><%= packaging.name %></h3>
    <p> <strong>A jeter</strong> => dans poubelle à couvercle <%= packaging.bin.color %></p>
  <% else %>
    <h3><%= packaging.name %></h3>
    <p> <strong>A recycler </strong> => dans poubelle à couvercle <%= packaging.bin.color %></p>
  <% end %>
<% end %>



<div class="description">
  <h4><%= @product.name %> <%= @product.brand %></h4>
  <p><%= @product.description.split(",").first %></p>
  <%= image_tag(@product.photo) %>
</div>
<span> <strong>Dans quelle poubelle faut t'il mettre ce déchet ?</strong></span>
<% @product.packagings.each do |packaging| %>
<div class="packaging-button">
  <div class="packaging-name"> <%= packaging.name %></div>
  <div class="trashes">
    <div class="trash">blanc</div>
    <div class="trash">jaune</div>
    <div class="trash">vert</div>
  </div>
</div>
<% end %>
